<form *ngFor="let item of user">
  <table>
    <tr>
      <label for="UserName">User Name</label>
      <input type="text" name="UserName" [defaultValue]="item.UserName" />
    </tr>
    <tr>
      <label for="Email">Email</label>
      <input type="text" name="Email" [defaultValue]="item.Email" />
    </tr>
    <tr>
      <label for="Gender">Gender</label>
      <input type="text" name="Gender" [defaultValue]="item.Gender" />
    </tr>
    <tr>
      <label for="GroupId">GroupId</label>
      <input type="text" name="GroupId" [defaultValue]="item.GroupId" />
    </tr>
  </table>
  <button (onsubmit)="onSubmit()">submit</button>
</form>
