<form *ngFor="let item of user" [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <label for="UserName">User Name</label>
      <input type="text" formControlName="UserName" [defaultValue]="item.UserName" />
    </tr>
    <tr>
      <label for="Email">Email</label>
      <input type="text" formControlName="Email" [defaultValue]="item.Email" />
    </tr>
    <tr>
      <label for="Gender">Gender</label>
      <input type="text" formControlName="Gender" [defaultValue]="item.Gender" />
    </tr>
    <tr>
      <label for="GroupId">GroupId</label>
      <input type="text" formControlName="GroupId" [defaultValue]="item.GroupId" />
    </tr>
  </table>
  <button type = "submit">submit</button>
</form>
