<div class="temp" style="height: 64px;"></div>
<nz-table
#group
 [nzData]="displayData">
    <thead>
        <tr>
            <th nzWidth = '45%'>GroupId</th>
            <th nzWidth = '45%'>Group Name</th>
            <th style="text-align: center;">
                <app-create-group></app-create-group>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let items of Group">
            <td>{{items._id}}</td>
            <td>{{items.GroupName}}</td>
            <td style="text-align: center;">
                <app-delete-group [dataId] = 'items._id'></app-delete-group>
                <app-update-group [dataId] = 'items._id'></app-update-group>
            </td>
        </tr>
    </tbody>
</nz-table>