
<button nz-button nzType="primary" nzShape="round" (click)="showModal()">
  <span nz-icon nzType="user-add" nzTheme="outline"></span>add user
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>Create User</ng-template>

  <ng-template #modalContent>
    <form [formGroup]="validateForm"  (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="UserName" >User Name</nz-form-label>
        <nz-form-control [nzSpan]="13" nzErrorTip="Please input your User Name more than 6 character!">
          <input nz-input formControlName="UserName" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7">Password</nz-form-label>
        <nz-form-control [nzSpan]="13" nzErrorTip="Please input your Password more than 6 character!">
          <input nz-input formControlName="Password" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="Gender">Gender</nz-form-label>
        <nz-form-control [nzSpan]="13" nzErrorTip="Please input your Gender!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Gender" [(ngModel)]="Gender" formControlName="Gender">
            <nz-option nzCustomContent nzLabel="Male" nzValue="Male">
              <span nz-icon nzType="man" nzTheme="outline"></span>
              Male
            </nz-option>
            <nz-option nzCustomContent nzLabel="Female" nzValue="Female">
              <span nz-icon nzType="woman" nzTheme="outline"></span>
              Female
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7">Group</nz-form-label>
        <nz-form-control [nzSpan]="13" nzErrorTip="Please input your Group!">
          <!-- <input nz-input formControlName="GroupId" /> -->
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Group" [(ngModel)]="group" formControlName="GroupId">
            <nz-option *ngFor="let data of Group" nzCustomContent [nzLabel]="data.GroupName" [nzValue]="data._id">
              {{data.GroupName}}
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" >Email</nz-form-label>
        <nz-form-control [nzSpan]="13" nzErrorTip="The input is not valid E-mail!">
          <input nz-input formControlName="Email" />
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="isConfirmLoading"
    >
      Submit
    </button>
  </ng-template>
</nz-modal>
