<h1 nz-typography style="text-align: center">User</h1>
<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzCustomFilter>
    <nz-filter-trigger
      [(nzVisible)]="visible"
      [nzActive]="searchValue.length > 0"
      [nzDropdownMenu]="menu"
    >
      <button nz-button nzType="dashed">
        <span nz-icon nzType="search"></span>
        Search
      </button>
    </nz-filter-trigger>
  </li>
  <li nz-menu-item>
    <button
      nz-button
      nzType="text"
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="Sort"
    >
      <span nz-icon nzType="search"></span>
      Sort
    </button>
  </li>
</ul>
<nz-table
  #columSelectionTable
  [nzFrontPagination] = "false"
  [nzData]="listOfDisplayData"
  >
  <thead>
    <tr>
      <th>User id</th>
      <th nzCustomFilter>
        User name
      </th>
      <th>Email</th>
      <th>Gender</th>
      <th [nzFilters]="filterName" [nzFilterFn]="nameFilterFn">Group</th>
      <th class="btn--container">
        <app-create-user></app-create-user>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of columSelectionTable.data">
      <td>{{ data._id }}</td>
      <td>{{ data.UserName }}</td>
      <td>{{ data.Email }}</td>
      <td>{{ data.Gender }}</td>
      <td>{{ data.GroupName }}</td>
      <td class="btn--container">
        <button
          [routerLink]="['edit/' + data._id]"
          nz-button
          nzType="primary"
          nzShape="circle"
        >
          <span nz-icon nzType="edit" nzTheme="outline"></span>
        </button>
        <button
          nzShape="circle"
          nz-button
          nzType="primary"
          nzDanger
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this User?"
          nzOkText="delete"
          nzCancelText="cancel"
          (nzOnConfirm)="confirm(data._id)"
          (nzOnCancel)="cancel()"
          nzPopconfirmPlacement="leftBottom"
          nz-button
        >
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </button>
      </td>
    </tr>
  </tbody>
  <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="total" nzShowSizeChanger [(nzPageSize)]="pageSize" (nzPageSizeChange) = "logger()" (nzPageIndexChange) = "logger()"></nz-pagination>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search name"
        [(ngModel)]="searchValue"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search()"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
<!-- <nz-select ngModel="Default" nzPlaceHolder="Choose">
  <nz-option nzValue="UserName" nzLabel="User Name Asc"></nz-option>
  <nz-option nzValue="-UserName" nzLabel="User Name Desc"></nz-option>
</nz-select> -->
<nz-dropdown-menu #Sort="nzDropdownMenu">
  <ul nz-menu>
    <li>
      <button nz-button nzType="text" (click)="sort('UserName')">
        <span nz-icon nzType="sort-ascending" nzTheme="outline"></span>User Name Asc
      </button>
    </li>
    <li>
      <button nz-button nzType="text" (click)="sort('-UserName')" >
        <span nz-icon nzType="sort-descending" nzTheme="outline"></span>User Name Desc
      </button>
    </li>
    <li>
      <button nz-button nzType="text" (click)="sort('_id')">
        <span nz-icon nzType="sort-ascending" nzTheme="outline"></span>User ID Asc
      </button>
    </li>
    <li>
      <button nz-button nzType="text" (click)="sort('-_id')">
        <span nz-icon nzType="sort-descending" nzTheme="outline"></span>User ID Desc
      </button>
    </li>
  </ul>
</nz-dropdown-menu>
