
<div class="temp" style="height: 64px;"></div>
<h1 nz-typography style="text-align: center">User</h1>
<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzCustomFilter>
    
  </li>
  <li nz-menu-item>
    <button
      nz-button
      nzType="text"
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="Sort"
    >
    <span nz-icon nzType="sort-ascending" nzTheme="outline"></span>
      Sort
    </button>
  </li>
  <li nz-menu-item nz-submenu nzPlacement="bottomLeft" nzTitle="Filter">
    <ul>
      <li nz-submenu nzTitle="Group">
        <ul *ngFor="let item of Group">
          <li nz-menu-item (click)="setFilter('GroupId', item._id)">
            {{item.GroupName}}
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Gender">
        <ul>
          <li nz-menu-item (click)="setFilter('Gender', 'Male')">Male</li>
          <li nz-menu-item (click)="setFilter('Gender', 'Female')">Female</li>
        </ul>
      </li>
      <li nz-menu-item>
        <button nz-button nzType="primary" nzDanger (click)="clearFilter()">clear Filter</button>
      </li>
    </ul>
  </li>
  <li nz-menu-item nz-submenu nzPlacement="bottomLeft" nzTitle="Filter">
    <ul>
      <li nz-submenu nzTitle="Group">
        <ul *ngFor="let item of Group">
          <li nz-menu-item (click)="testParms('GroupId', item._id)">
            {{item.GroupName}}
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Gender">
        <ul>
          <li nz-menu-item (click)="testParms('Gender', 'Male')" ><a ></a></li>
          <li nz-menu-item (click)="testParms('Gender', 'Female')">Female</li>
        </ul>
      </li>
      <li nz-menu-item>
        <button nz-button nzType="primary" nzDanger (click)="clearFilter()">clear Filter</button>
      </li>
    </ul>
  </li>
</ul>
<nz-table
  #columSelectionTable
  [nzFrontPagination] = "false"
  [nzData]="listOfDisplayData"
  >
  <thead>
    <tr>
      <th>User id</th>
      <th nzCustomFilter>
        User name
        <nz-filter-trigger
      [(nzVisible)]="visible"
      [nzActive]="searchValue.length > 0"
      [nzDropdownMenu]="menu"
    >
      <button nz-button nzType="dashed">
        <span nz-icon nzType="search"></span>
        Search
      </button>
    </nz-filter-trigger>
      </th>
      <th>Email
        <nz-filter-trigger
      [(nzVisible)]="emailSearchVisible"
      [nzActive]="searchValue.length > 0"
      [nzDropdownMenu]="searchEmail"
    >
      <button nz-button nzType="dashed">
        <span nz-icon nzType="search"></span>
        Search
      </button>
    </nz-filter-trigger>
      </th>
      <th>Gender</th>
      <th>Group</th>
      <th class="btn--container">
        <app-create-user></app-create-user>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of columSelectionTable.data">
      <td>{{ data._id }}</td>
      <td>{{ data.UserName }}</td>
      <td>{{ data.Email }}</td>
      <td>{{ data.Gender }}</td>
      <td>{{ data.GroupName }}</td>
      <td class="btn--container">
        <button
          [routerLink]="['edit/' + data._id]"
          nz-button
          nzType="primary"
          nzShape="circle"
        >
          <span nz-icon nzType="edit" nzTheme="outline"></span>
        </button>
        <button
          nzShape="circle"
          nz-button
          nzType="primary"
          nzDanger
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this User?"
          nzOkText="delete"
          nzCancelText="cancel"
          (nzOnConfirm)="confirm(data._id)"
          (nzOnCancel)="cancel()"
          nzPopconfirmPlacement="leftBottom"
          nz-button
        >
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </button>
      </td>
    </tr>
  </tbody>
  <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="total" nzShowSizeChanger [(nzPageSize)]="pageSize" (nzPageSizeChange) = "logger()" (nzPageIndexChange) = "logger()"></nz-pagination>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search name"
        [(ngModel)]="searchValue"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search('UserName')"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #searchEmail="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search Email"
        [(ngModel)]="searchValue"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search('Email')"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #Sort="nzDropdownMenu">
  <ul nz-menu>
    <li>
      <button nz-button nzType="text" (click)="sort('UserName')">
        <span nz-icon nzType="sort-ascending" nzTheme="outline"></span>User Name Asc
      </button>
    </li>
    <li>
      <button nz-button nzType="text" (click)="sort('-UserName')" >
        <span nz-icon nzType="sort-descending" nzTheme="outline"></span>User Name Desc
      </button>
    </li>
    <li>
      <button nz-button nzType="text" (click)="sort('_id')">
        <span nz-icon nzType="sort-ascending" nzTheme="outline"></span>User ID Asc
      </button>
    </li>
    <li>
      <button nz-button nzType="text" (click)="sort('-_id')">
        <span nz-icon nzType="sort-descending" nzTheme="outline"></span>User ID Desc
      </button>
    </li>
  </ul>
</nz-dropdown-menu>
